@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<CK_CSharp.Models.Announcement>

@{
    ViewData["Title"] = "List Announcement";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Announcement - List.css" />
}

<h1 class="Announcement_list_title">Announcement List</h1>

<div class="Announcement_list_feature">
    <a asp-action="Add" asp-controller="Announcement" class="Announcement_list_btnCreate">Thêm mới</a>
</div>

<div class="Announcement_list_container">\
    @foreach (var item in Model)
    {
        <div class="Announcement_list_item">
            <img src="@item.ImagePath" class="Announcement_list_img" />
            <div class="Announcement_list_itemDetail">
                <h3>@item.Title</h3>
                <p>@item.DatePosted</p>
                <p class="Announcement_list_itemDetail_Descrip">@item.EmployeeName</p>
                <div class="Announcement_list_groupBtn">
                    <a class="Announcement_list_btnDetail" asp-action="Detail" asp-controller="Announcement" asp-route-id="@item.AnnouncementId">Chi Tiết</a>
                    <button class="delete-button Announcement_list_btnDelete" data-id="@item.AnnouncementId">Xoá</button>
                </div>
            </div>
        </div>
    }

    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.delete-button').click(function () {
                    var id = $(this).data('id');
                    $.ajax({
                        url: "/Announcement/Delete/" + id,
                        type: 'POST',
                        success: function (result) {
                            location.reload();
                        },
                        error: function () {
                            alert('Đã xảy ra lỗi khi xóa mục.');
                        }
                    });
                });
            });
        </script>
    }
</div>