@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CK_CSharp.Models.Schedule

@{
    ViewData["Title"] = "Detail Schedule";
}

<h1>Schedule Detail</h1>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            
         </dt>
        <dd class="col-sm-10">
            <img src="@Model.ImagePath" width="200" alt="image" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
    </dl>
</div>
<div>
     <a class="btn btn-primary" asp-action="Edit" asp-controller="Schedule" asp-route-id="@Model.ScheduleId">Sửa</a> |
     <a class="btn btn-danger" asp-action="List" asp-controller="Schedule">Quay Lại</a>
</div>