@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<CK_CSharp.Models.Schedule>

@{
    ViewData["Title"] = "List Schedule";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Schedule - List.css" />
}

<h1 class="Schedule_list_title">Schedule List</h1>

<div class="Schedule_list_feature">
    <a asp-action="Add" asp-controller="Schedule" class="Schedule_list_btnCreate">Thêm mới</a>
</div>

<div class="Schedule_list_container">
    @foreach (var item in Model)
    {
        <div class="Schedule_list_item">
            <img src="@item.ImagePath" class="Schedule_list_img" />
            <div class="Schedule_list_itemDetail">
                <h3>@item.Name</h3>
                <p>(@item.StartDate - @item.EndDate)</p>
                <p class="Schedule_list_itemDetail_Descrip">@item.EmployeeName</p>
                <div class="Schedule_list_groupBtn">
                    <a class="Schedule_list_btnDetail" asp-action="Detail" asp-controller="Schedule" asp-route-id="@item.ScheduleId">Chi Tiết</a>
                    <button class="delete-button Schedule_list_btnDelete" data-id="@item.ScheduleId">Xoá</button>
                </div>
            </div>
        </div>
    }

    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.delete-button').click(function () {
                    var id = $(this).data('id');
                    $.ajax({
                        url: "/Schedule/Delete/" + id,
                        type: 'POST',
                        success: function (result) {
                            location.reload();
                        },
                        error: function () {
                            alert('Đã xảy ra lỗi khi xóa mục.');
                        }
                    });
                });
            });
        </script>
    }
</div>