@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<CK_CSharp.Models.Schedule>

@{
    ViewData["Title"] = "List Schedule";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Schedule - List.css" />
}

<h1 class="Schedule_list_title">Schedule List</h1>

<div class="Schedule_list_feature">
    <div class="Schedule_list_searchfilter">
        <form method="get" asp-controller="Schedule" asp-action="List" class="Schedule_list_search">
            <input type="text" name="searchString" value="@ViewData["ScheduleCurrentFilter"]" placeholder="Search by name..." class="Schedule_list_searchbar" />
            <button type="submit" class="Schedule_list_searchbarBtn">Search</button>
        </form>
         <form method="get" asp-controller="Schedule" asp-action="List" class="Schedule_list_filter">
            <p class="Schedule_list_filterLaber" for="minSalary">Start Day:</p>
            <input class="Schedule_list_filterInput" type="text" name="startDate" value="@ViewData["StartDateFilter"]" placeholder="dd/MM/yyyy" />
            <p class="Schedule_list_filterLaber" for="maxSalary">End Day:</p>
            <input class="Schedule_list_filterInput" type="text" name="endDate" value="@ViewData["EndDateFilter"]" placeholder="dd/MM/yyyy" />
            <button type="submit" class="Schedule_list_searchbarBtn">Lọc</button>
        </form>
    </div>
    <a asp-action="Add" asp-controller="Schedule" class="Schedule_list_btnCreate">Thêm mới</a>
</div>

<div class="Schedule_list_container">
    @foreach (var item in Model)
    {
        <div class="Schedule_list_item">
            <img src="@item.ImagePath" class="Schedule_list_img" />
            <div class="Schedule_list_itemDetail">
                <h3>@item.Name</h3>
                <p>(@item.StartDate - @item.EndDate)</p>
                <p class="Schedule_list_itemDetail_Descrip">@item.Name</p>
                <div class="Schedule_list_groupBtn">
                    <a class="Schedule_list_btnDetail" asp-action="Detail" asp-controller="Schedule" asp-route-id="@item.ScheduleId">Chi Tiết</a>
                    <button class="delete-button Schedule_list_btnDelete" data-id="@item.ScheduleId">Xoá</button>
                </div>
            </div>
        </div>
    }

    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.delete-button').click(function () {
                    var id = $(this).data('id');
                    $.ajax({
                        url: "/Schedule/Delete/" + id,
                        type: 'POST',
                        success: function (result) {
                            location.reload();
                        },
                        error: function () {
                            alert('Đã xảy ra lỗi khi xóa mục.');
                        }
                    });
                });
            });
        </script>
    }
</div>