@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<CK_CSharp.Models.Department>

@{
    ViewData["Title"] = "List Department";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Department - List .css" />
}

<h1>Department List</h1>

<div class="Company_list_feature">
    <form method="get" asp-controller="Department" asp-action="List">
        <input type="text" name="searchString" value="@ViewData["DepartmentCurrentFilter"]" placeholder="Search by name..." class="Company_list_searchbar" />
        <button type="submit" class="Company_list_searchbarBtn">Search</button>
    </form>

    <a class="btn btn-primary addBtn" asp-action="Add" asp-controller="Department">Thêm</a> |
</div>



<table class="container">
    <thead>
        <tr>
            <th>
                <h1>@Html.DisplayNameFor(model => model.DepartmentId)</h1>
            </th>
            <th>
                <h1>@Html.DisplayNameFor(model => model.Name)</h1>
            </th>
            <th>
                <h1>@Html.DisplayNameFor(model => model.Description)</h1>
            </th>
            <th>
                <h1>@Html.DisplayNameFor(model => model.CompanyId)</h1>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyId)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-controller="Department" asp-route-id="@item.DepartmentId">Sửa</a> |
                    <a class="btn btn-primary" asp-action="Detail" asp-controller="Department" asp-route-id="@item.DepartmentId">Chi Tiết</a> |
                    <button class="btn btn-danger delete-button" data-id="@item.DepartmentId">Xoá</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".delete-button").click(function () {
                var id = $(this).data("id");
                if (confirm("Bạn có chắc chắn muốn xoá phòng ban này không?")) {
                    $.ajax({
                        url: "/Department/Delete/" + id,
                        type: "POST",
                        success: function (result) {
                            location.reload();
                        },
                        error: function () {
                            alert('Đã xảy ra lỗi khi xóa mục.');
                        }
                    });
                }
            });
        });
    </script>
}


