@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CK_CSharp.Models.Employee

@{
    ViewData["Title"] = "Detail Employee";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Detail.css" />
}

<h1 class="Detail_title">Detail Employee: @Html.DisplayFor(model => model.Name)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
        </dt>
        <dd class="col-sm-8">
            <img src="@Model.ImagePath" alt="image" class="Detail_img" />
        </dd>
        <dt class = "col-sm-3">
            <p class="Detail_Name">@Html.DisplayNameFor(model => model.Name):</p>
        </dt>
        <dd class = "col-sm-8">
            <p class="Detail_value">@Html.DisplayFor(model => model.Name)</p>
        </dd>
        <dt class = "col-sm-3">
            <p class="Detail_Name">@Html.DisplayNameFor(model => model.Address):</p>
        </dt>
        <dd class = "col-sm-8">
            <p class="Detail_value">@Html.DisplayFor(model => model.Address)</p>
        </dd>
        <dt class = "col-sm-3">
            <p class="Detail_Name">@Html.DisplayNameFor(model => model.PhoneNumber):</p>
        </dt>
        <dd class = "col-sm-8">
            <p class="Detail_value">@Html.DisplayFor(model => model.PhoneNumber)</p>
        </dd>
        <dt class = "col-sm-3">
            <p class="Detail_Name">@Html.DisplayNameFor(model => model.Email):</p>
        </dt>
        <dd class = "col-sm-8">
            <p class="Detail_value">@Html.DisplayFor(model => model.Email)</p>
        </dd>
        <dt class = "col-sm-3">
            <p class="Detail_Name">@Html.DisplayNameFor(model => model.DepartmentName):</p>
        </dt>
        <dd class = "col-sm-8">
            <p class="Detail_value">@Html.DisplayFor(model => model.DepartmentName)</p>
            
        </dd>
    </dl>
</div>
 <div>
     <a class="btn btn-primary" asp-action="Edit" asp-controller="Employee" asp-route-id="@Model.EmployeeId">Sửa</a> |
     <a class="btn btn-danger" asp-action="List" asp-controller="Employee">Quay Lại</a>
</div>
    
