@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<CK_CSharp.Models.Employee>

@{
    ViewData["Title"] = "List Employee";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Employee - List.css" />
}

<h1 class="Employee_list_title">Employee List</h1>

<div class="Employee_list_feature">
    <div class="Employee_list_searchfilter">
        <form method="get" asp-controller="Employee" asp-action="List" class="Employee_list_search">
            <input type="text" name="searchString" value="@ViewData["EmployeeCurrentFilter"]" placeholder="Search by name..." class="Employee_list_searchbar" />
            <button type="submit" class="Employee_list_searchbarBtn">Tìm Kiếm</button>
        </form>

        <form method="get" asp-controller="Employee" asp-action="List" class="Employee_list_filter">
            <p class="Employee_list_filterLaber" for="minSalary">Min Salary:</p>
            <input class="Employee_list_filterInput" type="number" name="minSalary" value="@ViewData["MinSalary"]" />
            <p class="Employee_list_filterLaber" for="maxSalary">Max Salary:</p>
            <input class="Employee_list_filterInput" type="number" name="maxSalary" value="@ViewData["MaxSalary"]" />
            <button type="submit" class="Employee_list_searchbarBtn">Lọc</button>
        </form>
    </div>
   
    <a asp-action="Add" asp-controller="Employee" class="Employee_list_btnCreate">Thêm mới</a>
</div>

<div class="Employee_list_container">
    @foreach (var item in Model)
    {
        <div class="Employee_list_item">
            <img src="@item.ImagePath" class="Employee_list_img" />
            <h3>@item.Name</h3>
            <div class="Employee_list_groupBtn">
                <a class="Employee_list_btnDetail" asp-action="Detail" asp-controller="Employee" asp-route-id="@item.EmployeeId">Chi Tiết</a> 
                <button class="delete-button Employee_list_btnDelete" data-id="@item.EmployeeId">Xoá</button>
            </div>
        </div>
    }
    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.delete-button').click(function () {
                    var id = $(this).data('id');
                    $.ajax({
                        url: "/Employee/Delete/" + id,
                        type: 'POST',
                        success: function (result) {
                            location.reload();
                        },
                        error: function () {
                            alert('Đã xảy ra lỗi khi xóa mục.');
                        }
                    });
                });
            });
        </script>
    }
</div>





