@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<CK_CSharp.Models.Category>

@{
    ViewData["Title"] = "List Category";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Category - List.css" />
}

<h1>Category List</h1>

<div class="Category_list_feature">
    <form method="get" asp-controller="Category" asp-action="List">
        <input type="text" name="searchString" value="@ViewData["CategoryCurrentFilter"]" placeholder="Search by name..." class="Category_list_searchbar" />
        <button type="submit" class="Category_list_searchbarBtn">Search</button>
    </form>

    <a class="btn btn-primary addBtn" asp-action="Add" asp-controller="Category">Thêm</a>
</div>

<table class="Category_List_container">
    <thead>
        <tr>
            <th>
                <h1>@Html.DisplayNameFor(model => model.CategoryId)</h1>
            </th>
            <th>
                <h1>@Html.DisplayNameFor(model => model.Name)</h1>
            </th>
            <th>
                <h1>@Html.DisplayNameFor(model => model.Description)</h1>  
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-controller="Category" asp-route-id="@item.CategoryId">Sửa</a>
                    <a class="btn btn-primary" asp-action="Detail" asp-controller="Category" asp-route-id="@item.CategoryId">Chi Tiết</a>
                    <button class="btn btn-danger delete-button" data-id="@item.CategoryId">Xoá</button>
                </td>
            </tr>
        }

        @section Scripts {
            <script>
                $(document).ready(function () {
                    $('.delete-button').click(function () {
                        var id = $(this).data('id');
                        $.ajax({
                            url: "/Category/Delete/" + id,
                            type: 'POST',
                            success: function (result) {
                                location.reload();
                            },
                            error: function () {
                                alert('Đã xảy ra lỗi khi xóa mục.');
                            }
                        });
                    });
                });
            </script>
        }
    </tbody>
</table>